fastapi
uvicorn
python-multipart
reportlab
langchain
langchain-community
langchain-core
langchain-groq
langchain-ollama
chromadb
faiss-cpu
gunicorn
sentence-transformers
transformers
pydantic
pdfplumber
python-dotenv
pandas
requests