fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-ollama
langgraph

langgraph-checkpoint
langgraph-prebuilt
langsmith
pydantic
python-dotenv
openai
pypdf
pdfplumber

python-multipart
faiss-cpu
easyocr
pytesseract
pillow
opencv-python-headless
requests
httpx
torch
transformers